.projects {
  position: relative;
  width: 100%;
}

.projects-container {
  display: flex;
  overflow-x: hidden; /* Oculta os itens que estiverem além da área visível */
  max-width: 100%;
  margin: 0 auto;
}

.projects-box {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(
    100vw - 10rem
  ); /* Largura dos itens do carrossel (tela inteira menos as margens) */
}

.projects-box .projects-img {
  display: flex;
  justify-content: center;
  width: 50vw;
  position: relative;
}

.projects-box .projects-img img {
  width: 50vw;
  max-width: 38rem;
  clip-path: polygon(0 15%, 100% 15%, 100% 92%, 0 92%);
}

.project-content {
  display: flex;
  text-align: center;
  margin-left: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  gap: 1rem;
}

.project-content h1 {
  font-size: 2rem;
}

.project-content .description {
  font-size: 1.7rem;
  color: var(--color-gray);
}

.wrapper {
  max-width: 100vw;
}

.wrapper i {
  z-index: 1000;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  height: 46px;
  width: 46px;
  background-color: #fff;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

.wrapper i:first-child {
  left: 1%;
}

.wrapper i:last-child {
  right: 1%;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  width: 100vw;
}
