/*ABOUT ME*/
section {
  margin: 5rem 0;
}

.about-me {
  margin-top: calc(100vh + 10rem);
  margin-bottom: 10rem;
}
.about-me-box {
  margin-top: 4rem;
  display: flex;
  width: 95%;
  align-items: center;
}

.about-me-itens {
  margin-top: -3rem;
}
.about-me-box .image-programer {
  margin: 3.8rem;
}

.about-me-box .image-programer img {
  width: 35rem;
  height: 35rem;
}

.about-me-box .about-me-itens span {
  font-size: 2.3rem;
  color: var(--color-black-white);
}

.about-me-box .about-me-itens p {
  font-size: 1.9rem;
  color: var(--color-black-white);
}
