.contact-box {
  display: grid;
  width: 100%;
  grid-template-columns: 30rem 1fr;
}
.contact-informations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
  margin-right: -2rem;
  margin-top: -3rem;
}

.contact-informations .contact-informations-item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-informations .contact-informations-item .icon-informations {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.contact-informations .contact-informations-item .icon-informations h2 {
  font-size: 1.6rem;
  color: var(--color-black-white);
}

.contact-informations .contact-informations-item .icon-informations i {
  font-size: 3rem;
  display: block;
  color: var(--first-color);
}

.contact-informations .contact-informations-item span {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-transform: none;
  color: var(--color-gray);
}

form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form h2 {
  text-align: center;
  font-size: 3rem;
}

form .boxInput {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

form .boxInput input {
  width: 100%;
  background: var(--color-white);
  color: var(--color-black-white);
  font-size: 1.7rem;
  padding: 1rem 2rem;
  text-transform: none;
  border-radius: 0.5rem;
}

form .boxInput textarea {
  width: 100%;
  text-transform: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

form .boxInput input::placeholder,
form .boxInput textarea::placeholder {
  color: var(--color-gray);
  font-size: 2rem;
}
