/*HOME*/

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.home .my-profile {
  margin-top: -6rem;
}
.home .my-profile h1 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 900;
  color: var(--color-black-white);
}

.home .my-profile .icons {
  display: flex;
  align-items: center;
}

.home .my-profile .icons i {
  margin-bottom: -1rem;
  font-size: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #333;
}
.home .my-profile .icons i a {
  cursor: pointer;
}

.home .my-profile span {
  font-size: 2.6rem;
  color: var(--color-gray);
}
